@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

.navbar {
  height: 10vh;
  display: flex;
  background-color: var(--white);
  padding: 0 10vw;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}
.navbarLeft {
  width: 90%;
  display: flex;
  align-items: center;
}
.navbarLogo {
  font-family: "Patrick Hand SC", cursive;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontBig);
  white-space: nowrap;
}
.navbarLinks {
  font-size: var(--fontNormal);
  margin-left: 5%;
  display: flex;
  gap: 10%;
}
.navbarLinks a {
  position: relative;
  cursor: pointer;
}
.navbarLinks a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.navbarLinks a:hover::before {
  visibility: visible;
  width: 100%;
}
.navbarLinks a.active::before {
  width: 100%;
  visibility: visible;
}
.navbarRight {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarSocials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.navbarRight svg {
  width: 2.5vw;
  height: 2.5vw;
  color: var(--black);
  transition: 0.5s;
}
.navbarRight svg:hover {
  transform: scale(1.1);
}
