.loading {
  position: fixed;
  top: -10%;
  width: 100vw;
  height: 120vh;
  background-color: var(--white);
  animation: fadein var(--animationTime) ease forwards;
}

@keyframes fadein {
  0% {
    z-index: 99999;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    z-index: -999;
    opacity: 0;
  }
}
